<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bienvenido al Sistema de Votaciones</title>
    <link rel="stylesheet" href="./css/normalize.css" />
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <main>
      <header class="header">
        <img class="registraduria" src="images/logo_rnec-4.png" />

        <h1 id="title">Votaciones Alcaldía - 2023</h1>
      </header>
      <!-- Aqui va a existir un formulario para el ingreso -->
      <div class="gallery">
        <div class="cantidato">
          <a class="link btn btn-secondary" href="votaciones.html">Ingresar</a>
        </div>
      </div>
    </main>
  </body>
</html>
